# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Compose Big Watermelon.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\Compose Big Watermelon\.idea\.idea.Compose Big Watermelon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
